<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h2 th:text="${area.name}">Area</h2>
<form method="post" style="max-width:600px;" th:action="@{/beta/process-add}" th:object="${beta}">
    <div class="form-group">
        <label>Route</label>
        <input class="form-control" name="routeName" />
    </div>
    <div class="form-group">
        <label th:for="crag">Select Existing Crag</label>
        <select name="cragId" class="custom-select">
            <option th:each="crag: ${crags}"
                    th:text="${crag.name}"
                    th:value="${crag.id}">
            </option>
        </select>
    <div class="form-group">
        <label>New Crag</label>
        <input class="form-control" name="cragName" />
    </div>
    <div class="form-group">
        <label th:for="description">Description</label>
        <textarea class="form-control" th:field="*{description}" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label th:for="shared">Shared</label>
        <input type="checkbox" th:field="*{isShared}" th:checked="${false}" />
    </div>
    <input type="hidden" name="userId" th:value="${user.id}" />
    <input type="hidden" name="areaId" th:value="${area.id}" />
    <input type="submit" class="btn btn-success" value="Add Beta" />
</form>

<div th:replace="fragments :: footer"></div>
</body>
</html>