<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:action="@{/beta/add}">
    <div class="form-group">
        <label>Add New Area</label>
        <input class="form-control" name="newAreaName" />
    </div>
    <div class="form-group">
        <label th:for="area"><b>OR</b> Select Existing Area:</label>
        <select name="areaId">
            <option th:each="area : ${areas}"
                    th:text="${area.name}"
                    th:value="${area.id}"
                    th:selected="${area.name == null}">
            </option>
        </select>
    </div>
    <input type="submit" value="Select Area" />
</form>

</body>
</html>