<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<div class="jumbotron">
    <h1 class="display-3">Welcome to Sendfriend!</h1>
    <p class="lead">This is a website designed for the (somewhat) obsessive climber -- i.e., those who want to or already do keep extensive notes on their performance and beta for routes they've tried.</p>
    <hr class="my-4">
    <p>Our platform is designed around allowing users to create beta entries for routes. From that low-level data we're able to also keep track of climber's performance over time, across different crags and areas, and in comparison with other climbers. Our platform enables users to share -- or not -- their notes about specific climbs with their friends. Through this aggregate data we can also provide some interesting metrics about routes themselves, how often they're attempted, flashed, and so on.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/register" role="button">Click here to Sign up!</a>
    </p>
</div>

<div class="card mb-3" th:if="${featured}" th:object="${featured}">
    <h3 class="card-header">Featured Route</h3>
    <div class="card-body">
        <h5 class="card-title" th:value="*{featured.name}"></h5>
        <h6 class="card-subtitle text-muted" th:value="*{featured.grade}"></h6>
    </div>
    <img style="height: 200px; width: 100%; display: block;" src="" alt="Card image">
    <div class="card-body">
        <p class="card-text" th:value="*{featured.description}"></p>
    </div>
    <div class="card-body">
        <a href="route/view/*{featured.id}" class="card-link">View Route</a>
        <a href="crag/view/*{featured.crag}" class="card-link">View Crag</a>
    </div>
    <div class="card-footer text-muted" th:value="*{featured.crag.area}">
    </div>
</div>

</body>
</html>