<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>


<div class="btn-group-vertical" data-toggle="buttons">
    <button type="button" class="btn btn-primary" onclick="location.href='profile';">Profile</button>
    <button type="button" class="btn btn-primary" onclick="location.href='user/betas';">Betas</button>
    <button type="button" class="btn btn-primary" onclick="location.href='user/shared-betas';">Shared Betas</button>
    <button type="button" class="btn btn-primary" onclick="location.href='user/stats';">Stats</button>
</div>

<a href="/beta/select-area">Add Beta</a>
<div th:object="${user}">
    <h2 th:field="*{username}" th:value="*{username}"></h2>
    <div>
        <ul>
            <li th:each="beta : *{betas}" th:text="{beta.name}">Name</li>
        </ul>
    </div>


</div>

<div th:replace="fragments :: footer"></div>
</body>
</html>