<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" action="/register/" style="max-width:600px;" th:object="${user}">
    <div class="form-group">
        <label th:for="email">Email</label>
        <input class="form-control" th:value="*{email}" />
        <span th:errors="*{email}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="username">Username</label>
        <input class="form-control" th:value="*{username}" />
        <span th:errors="*{username}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="password">Password</label>
        <input type="password" class="form-control" th:value="*{password}" />
        <span th:errors="*{password}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="verify">Verify Password</label>
        <input type="password" class="form-control" th:value="${verify}" />
    </div>
    <input type="submit" value="Register" />
</form>

</body>
</html>