<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<table th:if="${areas} and ${areas.size()}" class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
    </tr>
    <tr th:th:each="area : ${areas}">
        <td th:text="*{area.name}"></td>
        <td th:text="*{area.description}"></td>
        <td><a th:href="'/area/edit/' + ${area.id}">Edit</a></td>
    </tr>
</table>

</body>
</html>