<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<div class="card text-white bg-primary offset-mb-3 mx-auto field-label-responsive" style="max-width: 20rem;">
    <div class="card-header">Add New Route</div>
    <div class="card-body">
        <p class="card-text">
<form method="post" style="max-width:600px;" th:object="${route}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="*{description}" />
    </div>
    <div class="form-group">
        <label th:for="grade">Grade</label>
        <input class="form-control" th:field="*{grade}" />
    </div>
    <div class="form-group">
        <label th:for="grade">Rating</label>
        <input class="form-control" th:field="*{rating}" />
    </div>
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="custom-file">
                <input class="custom-file-input" id="inputGroupFile02" type="file">
                <label class="custom-file-label" for="inputGroupFile02">Upload Route Photo</label>
            </div>
            <div class="input-group-append">
                <span class="input-group-text" id="">Upload</span>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-success" value="Add Route" />
</form>
        </p>
    </div>
</div>

<div th:replace="fragments :: footer"></div>
</body>
</html>