<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<div th:object="${route}"></div>
<h2 th:text="*{route.name}"></h2>
<h3 th:text="*{route.grade}"></h3>
<h3 th:text="*{route.rating}"></h3>
<p th:text="*{route.description}"></p>
<div class="row">
    <div class="col">
        <div class="btn-group-vertical" data-toggle="buttons">
            <!--<button type="button" class="btn btn-primary" onclick="location.href='@{/beta/select-area}';">Add Beta</button>-->
        </div>
    </div>
    <div class="col-10">
        <h2>All Public Betas</h2>
        <table class="table table-hover">
            <thead>
            <tr >
                <th scope="col">Route</th>
                <th scope="col">Description</th>
                <th scope="col">View</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-default" th:each="beta : ${betas}">
                <td th:text="*{beta.route.name}"></td>
                <td th:text="*{beta.description}"></td>
                <td><a th:href="'/beta/view/' + ${beta.id}">View</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragments :: footer"></div>
</body>
</html>