<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <div th:unless="${routes} and ${routes.size()}">
        <h2>No Results</h2>
    </div>

    <div th:fragment="routes-list">
        <div th:if="${routes} and ${routes.size()}">

            <h3 th:text="${routes.size() + ' Result(s)'}"></h3>

            <div  th:each="route : ${routes}">
                <table  th:fragment="single-route" class="route-listing">
                    <tr>
                        <th>Name</th>
                        <td th:text="${route.name}"></td>
                    </tr>
                    <tr>
                        <th>Grade</th>
                        <td th:text="${route.grade}"></td>
                    </tr>
                    <tr>
                        <th>Crag</th>
                        <td th:text="${route.crag}"></td>
                    </tr>
                    <tr>
                        <th>Area</th>
                        <td th:text="${route.area}"></td>
                    </tr>
                </table>
            </div>

        </div>

    </div>
</div>

<div th:replace="fragments :: footer"></div>
</body>
</html>