<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
    </tr>
    <tr th:each="crag : ${crags}">
        <td th:text="*{crag.name}"></td>
        <td th:text="*{crag.description}"></td>
        <td><a th:href="'/crag/edit/' + ${crag.id}">Edit</a></td>
    </tr>
</table>

</body>
</html>
