<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${crag.name}"></h1>
<h5 th:text="${crag.area.name}"></h5>
<div class="row">
    <div class="col">
            <a class="btn btn-primary btn-lg"  th:value="${crag.id}" th:name="${cragId}" th:href="@{/route/add?cragId=} + ${crag.id}" role="button">Add Route</a>
    </div>
    <div class="col-10">
        <h2>All Routes</h2>
        <table class="table table-hover">
            <thead>
            <tr >
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">View</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-default" th:each="route : ${routes}">
                <td th:text="*{route.name}"></td>
                <td th:text="*{route.description}"></td>
                <td><a th:href="'/route/view/' + ${route.id}">View</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragments :: footer"></div>
</body>
</html>